@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

:root {
    --color-red: #ad343e;
    --color-gray: #474747;
    --color-grayl: #8d8e87;
    --color-white: #f9f9f7;
    --color-black: #2b2e25;
    --font-play: "Playfair Display";
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.title-text {
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.top-site {
    background-color: var(--color-gray);
    color: white;
}

.top-site .container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-header {
    display: flex;
    align-items: center;
    font-family: "Playfair Display";
}

.menu .nb-button {
    display: none;
}

.hamburguer-div {
    display: none;
}

.title-header h1 {
    font-family: "Playfair Display";
    color: var(--color-gray);
    font-style: italic;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}

.menu a.active {
    background-color: rgba(128, 128, 128, 0.378);
    border-radius: 20px;
    padding: 5px 15px;
}

header .nb-button {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid;
    text-decoration: none;
    color: black;
    background: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

/* FAMILY */

.family {
    background-color: #f9f9f7;
    padding: 60px 0;
}

.family .container {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.visit-us {
    position: absolute;
    bottom: -10px;
    left: 360px;
    text-wrap: nowrap;
    background-color: #3a3a3a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
}

.visit-us p {
    padding: 5px;
}

.visit-us #location {
    text-wrap: wrap;
}

.family-text {
    max-width: 500px;
    padding-left: 20px;
}

.family-text h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
    font-weight: bold;
}

.family-text h4 {
    padding: 20px 0;
    font-weight: normal;
}

.family-text p {
    color: var(--color-gray);
}

/* VIDEO */

.video {
    position: relative;
}

.video #background {
    display: block;
    height: 100vh;
}

.video #play {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.video h1 {
    position: absolute;
    bottom: 40px; /* distancia do fundo da imagem */
    left: 51%;
    top: 60%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-play);
    color: white;
    width: 500px;
}

.video .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.video-article {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.video-article div p {
    width: 300px;
    color: var(--color-gray);
}

/* INFORMATION */

.information {
    padding: 50px 0;
}

.information .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.information .left-side h1 {
    font-size: 3.2rem;
    font-family: var(--font-play);
    max-width: 550px;
    color: var(--color-gray);
}

.information .left-side p {
    max-width: 500px;
    padding: 20px 0;
    color: #555;
}

.information-article--div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.information-article {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

.information-article h2 {
    font-size: 3rem;
    font-family: var(--font-play);
    margin-bottom: 5px;
    color: var(--color-black);
}

.information-article p {
    font-size: 1rem;
    color: #555;
}

.information .right-side img {
    width: 100%;
    border-radius: 12px;
}

/* CUSTOMERS */

.customers .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 10vh;
}

.customers-title {
    text-align: center;
    font-size: 2.5em;
    padding: 50px;
}

.customers-title h1 {
    font-family: var(--font-play);
    color: #2a2d24;
    text-align: center;
    font-weight: 500;
}

.customer-article {
    background-color: var(--color-white);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
}

.customer-article h2 {
    color: var(--color-red);
    padding: 30px;
}

.customer-article p {
    width: 400px;
    padding: 0px 30px 30px;
}

.customer-article hr {
    border: none;
    height: 1px;
    margin: 20px;
    background-color: #00000013;
}

.info-customer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.info-customer img {
    padding-right: 20px;
}

.info-customer span {
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color: var(--color-gray);
    color: white;
}

footer .container {
    display: flex;
    padding: 50px;
}

.footer-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-info h1 {
    font-family: var(--font-play);
    color: white;
    font-weight: 500;
    padding-left: 15px;
}

footer p {
    padding-top: 20px;
    width: 280px;
    color: var(--color-grayl);
}

.footer-social {
    display: flex;
    padding-top: 30px;
    gap: 10px;
}

footer .footer-pages {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-pages a:first-child {
    padding-top: 35px;
}

.footer-pages a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-pages a:hover {
    text-decoration: underline;
    color: white;
}

footer .footer-utility {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-utility a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-utility a:first-child {
    padding-top: 35px;
}

.footer-utility a:hover {
    text-decoration: underline;
    color: white;
}

.footer-follow-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    gap: 20px;
}

.final-section {
    background-color: var(--color-gray);
    color: var(--color-grayl);
    text-align: center;
    padding: 50px;
}

@media (max-width: 850px) {
    .top-site {
        display: none;
    }

    .menu {
        display: none;
    }

    .title-header {
        font-size: 0.7rem;
    }

    .hamburguer-div {
        display: block;
    }

    .hamburguer-div span {
        font-weight: bold;
    }

    header .container {
        display: flex;
        justify-content: space-around;
    }

    header .container .nb-button {
        display: none;
    }

    .family .container {
        display: flex;
        flex-direction: column;
    }

    .video .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .customers .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-follow {
        display: none;
    }
}

@media (max-width: 500px) {
    .right-side img {
        display: none;
    }

    .video .container {
        display: flex;
        flex-direction: column;
    }

    .video-article p {
        max-width: 200px;
    }

    .visit-us {
        display: none;
    }

    .image-wrapper img {
        max-width: 420px;
    }

    .video #play,
    .video h1 {
        display: none;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 30px 20px;
    }

    .footer-info {
        text-align: center;
    }

    .footer-info div {
        justify-content: center;
    }

    .footer-info p {
        margin: auto;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-pages,
    .footer-utility,
    .footer-follow {
        text-align: center;
    }

    .footer-pages a,
    .footer-utility a {
        padding: 0;
        text-align: center;
    }

    .footer-follow {
        display: none;
    }
}
