@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

html,
body {
    overflow-x: hidden;
}

:root {
    --color-red: #ad343e;
    --color-gray: #474747;
    --color-grayl: #8d8e87;
    --color-white: #f9f9f7;
    --color-black: #2b2e25;
    --font-play: "Playfair Display";
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.title-text {
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.top-site {
    background-color: var(--color-gray);
    color: white;
}

.top-site .container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-header {
    display: flex;
    align-items: center;
    font-family: "Playfair Display";
}

.title-header h1 {
    font-family: "Playfair Display";
    color: var(--color-gray);
    font-style: italic;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}

.menu .nb-button {
    display: none;
}

.hamburguer-div {
    display: none;
}

.menu a.active {
    background-color: rgba(128, 128, 128, 0.378);
    border-radius: 20px;
    padding: 5px 15px;
}

header .nb-button {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid;
    text-decoration: none;
    color: black;
    background: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

/* HERO SECTION */

.hero-section {
    background-image: url(/assets/images/backgroundHero.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 5em;
    max-width: 500px;
    width: 100%;
    font-family: var(--font-play);
    color: #2c2f23;
    font-weight: normal;
}

.hero-text p {
    width: 500px;
    padding-top: 15px;
    color: var(--color-gray);
    font-size: 1.1rem;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.hero-buttons button {
    margin: 10px;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
}

#hero-button1 {
    border: none;
    background-color: var(--color-red);
    color: white;
}

#hero-button2 {
    border: 1px solid;
}

/* BROWSE OUR MENU */

.browse-menu--section {
    padding-bottom: 40px;
}

.browse-menu--section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.browse-menu--section h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: var(--font-play);
    color: #2b2e25;
    font-weight: 500;
    font-size: 3em;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.258);
    border-radius: 10px;
}

.info-card img {
    padding-top: 30px;
}

.info-card h3 {
    padding-top: 10px;
}

.info-card p {
    padding: 10px;
    width: 200px;
}

.info-card a {
    padding: 10px;
    padding-bottom: 30px;
    text-decoration: none;
    color: var(--color-red);
    font-weight: bold;
}

/* FAMILY */

.family {
    background-color: #f9f9f7;
    padding: 60px 0;
}

.family .container {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.visit-us {
    position: absolute;
    bottom: -10px;
    left: 360px;
    text-wrap: nowrap;
    background-color: #3a3a3a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
}

.visit-us p {
    padding: 5px;
}

.visit-us #location {
    text-wrap: wrap;
}

.family-text {
    max-width: 500px;
}

.family-text h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
    font-weight: bold;
}

.family-text h4 {
    padding: 20px 0;
    font-weight: normal;
}

.family-text p {
    color: var(--color-gray);
}

.family .nb-button {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 25px;
    border: 1px solid #000;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-weight: 500;
}

/* SERVICES */

.info-services--div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.services .container {
    display: grid;
}

.services .container h1 {
    font-size: 3rem;
    width: 600px;
    padding: 40px 0px 40px 0px;
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.info-services img {
    width: 250px;
}

.info-services h2 {
    padding-top: 15px;
}

.info-services p {
    width: 300px;
    padding-top: 14px;
}

/* FASTEST */

.delivery {
    margin: 40px 0;
    padding: 40px 0;
    background-color: #f9f9f7;
}

.delivery .container {
    display: flex;
    align-items: center;
}

.delivery-img--div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.delivery-img--div img:first-child {
    grid-row: span 2;
    width: 400px;
}

.delivery-topics {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 50px;
    gap: 15px;
}

.delivery-topics div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.delivery-text {
    padding-left: 70px;
}

.delivery-text h1 {
    font-size: 3.8em;
    width: 500px;
    padding-bottom: 10px;
    font-family: var(--font-play);
    font-weight: 500;
    color: var(--color-black);
}

.delivery-text p {
    width: 450px;
}

/* CUSTOMERS */

.customers .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 10vh;
}

.customers-title {
    text-align: center;
    font-size: 2.5em;
    padding: 50px;
}

.customers-title h1 {
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.customer-article {
    background-color: var(--color-white);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
}

.customer-article h2 {
    color: var(--color-red);
    padding: 30px;
}

.customer-article p {
    width: 400px;
    padding: 0px 30px 30px;
}

.customer-article hr {
    border: none;
    height: 1px;
    margin: 20px;
    background-color: #00000013;
}

.info-customer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.info-customer img {
    padding-right: 20px;
}

.info-customer span {
    font-weight: bold;
}

/* BLOG */

.blog {
    background-color: var(--color-white);
}

.blog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.blog-title h1 {
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.blog-title h1 {
    font-size: 3rem;
}

.blog-title a {
    padding: 20px 30px;
    background-color: var(--color-red);
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.article-blog--div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.article-blog--div .main {
    grid-row: span 2;
}

.article-blog--div .main p {
    padding-bottom: 120px;
}

.info-blog--article {
    padding: 0px 20px 20px 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.info-blog--article h6 {
    padding: 20px 0;
    font-weight: normal;
    color: var(--color-gray);
}

.info-blog--article h2 {
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.info-blog--article p {
    color: var(--color-gray);
    padding-bottom: 30px;
}

/* FOOTER */

footer {
    background-color: var(--color-gray);
    color: white;
}

footer .container {
    display: flex;
    padding: 50px;
}

.footer-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-info h1 {
    font-family: var(--font-play);
    color: white;
    font-weight: 500;
    padding-left: 15px;
}

footer p {
    padding-top: 20px;
    width: 280px;
    color: var(--color-grayl);
}

.footer-social {
    display: flex;
    padding-top: 30px;
    gap: 10px;
}

footer .footer-pages {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-pages a:first-child {
    padding-top: 35px;
}

.footer-pages a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-pages a:hover {
    text-decoration: underline;
    color: white;
}

footer .footer-utility {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-utility a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-utility a:first-child {
    padding-top: 35px;
}

.footer-utility a:hover {
    text-decoration: underline;
    color: white;
}

.footer-follow-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    gap: 20px;
}

.final-section {
    background-color: var(--color-gray);
    color: var(--color-grayl);
    text-align: center;
    padding: 50px;
}

@media (max-width: 850px) {
    .top-site {
        display: none;
    }

    .menu {
        display: none;
    }

    .title-header {
        font-size: 0.7rem;
    }

    .hamburguer-div {
        display: block;
    }

    header .container {
        display: flex;
        justify-content: space-around;
    }

    header .container .nb-button {
        display: none;
    }

    .hero-section h1 {
        width: 90%;
    }

    .hero-section p {
        width: 95%;
        color: black;
    }

    .hero-section button {
        text-wrap: nowrap;
    }

    .browse-menu--section .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    header .container {
        display: flex;
        justify-content: space-between;
    }

    .browse-menu--section .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
