<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="css/pages.css" />
    </head>
    <body>
        <%- include("../partials/header.ejs") %>

        <main class="blog">
            <div class="blog-text">
                <h1>Our Blog & Articles</h1>
                <p>
                    We consider all the drivers of change gives you the
                    components you need to change to create a truly happens.
                </p>
            </div>

            <div class="container">
                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>

                <article class="blog-article">
                    <img src="assets/images/sushi.png" alt="" />
                    <div class="article-text">
                        <p>January 3, 2023</p>
                        <h3>How to prepare a delicious gluten free sushi</h3>
                    </div>
                </article>
            </div>
        </main>

        <%- include("../partials/footer.ejs") %>

        <script src="js/script.js"></script>
    </body>
</html>
