<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="css/payment-pending.css" />
    </head>
    <body>
        <section class="cart-header">
            <h1>Pagamento Pendente</h1>
            <p>
                Seu pagamento ainda está sendo processado. Assim que for
                confirmado, enviaremos uma notificação.
            </p>
            <a href="/" class="btn">Voltar para a loja</a>
        </section>
        <script src="/js/script.js"></script>
    </body>
</html>
