<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="css/payment-ok.css" />
    </head>
    <body>
        <section class="cart-header">
            <h1>Pagamento Aprovado!</h1>
            <p>
                Obrigado pela sua compra. Seu pedido foi confirmado com sucesso.
            </p>
            <a href="/" class="btn">Voltar para a loja</a>
        </section>
        <script src="/js/script.js"></script>
    </body>
</html>
