/* BOOK */

.book {
    margin-top: 120px;
    background-color: var(--color-white);
}

.book-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.book-title h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 4.3rem;
    font-family: var(--font-play);
    font-weight: 500;
    color: var(--color-black);
}

.book-title p {
    width: 90%;
    text-align: center;
    color: var(--color-gray);
}

.book-input--div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px black;
    position: relative;
    z-index: 99;
    margin-bottom: 20px;
}

.book-input--div input,
button,
select {
    padding: 20px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.book-input--div button {
    background-color: var(--color-red);
    color: white;
}

.book-input--div button {
    grid-column: span 2;
}

.label-input--div {
    display: flex;
    flex-direction: column;
}

.label-input--div:has(#time) {
    grid-column: span 1;
}

.label-input--div:has(select) {
    grid-column: span 2;
}

.label-input--div label {
    margin-bottom: 10px;
}

#img-maps {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-top: -15%;
}

/* FOOTER */

footer {
    background-color: var(--color-gray);
    color: white;
    margin-top: 15%;
    padding-top: 100px;
}

footer .container {
    display: flex;
    padding: 50px;
}

.footer-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-info h1 {
    font-family: var(--font-play);
    color: white;
    font-weight: 500;
    padding-left: 15px;
}

footer p {
    padding-top: 20px;
    width: 280px;
    color: var(--color-grayl);
}

.footer-social {
    display: flex;
    padding-top: 30px;
    gap: 10px;
}

footer .footer-pages {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-pages a:first-child {
    padding-top: 35px;
}

.footer-pages a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-pages a:hover {
    text-decoration: underline;
    color: white;
}

footer .footer-utility {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-utility a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-utility a:first-child {
    padding-top: 35px;
}

.footer-utility a:hover {
    text-decoration: underline;
    color: white;
}

.footer-follow-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    gap: 20px;
}

.final-section {
    background-color: var(--color-gray);
    color: var(--color-grayl);
    text-align: center;
    padding: 50px;
}

@media (max-width: 850px) {
    header {
        top: 0;
    }

    .top-site {
        display: none;
    }

    .menu {
        position: fixed; /* fixa na tela */
        top: 80px;
        left: 0;
        width: 100vw;
        padding-top: 20px;
        height: 30%;
        display: grid;
        place-items: center;
        grid-auto-flow: row;
        row-gap: 15px;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 9999;
    }

    .menu.show {
        opacity: 1;
        visibility: visible;
    }

    .menu div .nb-button {
        display: block;
    }

    .container .nb-button {
        display: none;
    }

    .title-header {
        font-size: 0.7rem;
    }

    .hamburguer-div {
        display: block;
        cursor: pointer;
    }

    .hamburguer-div span {
        font-weight: bold;
    }

    header .container {
        display: flex;
        justify-content: space-around;
    }

    footer {
        margin-top: 60%;
    }

    .footer-follow {
        display: none;
    }
}

@media (max-width: 500px) {
    .book-input--div {
        display: flex;
        flex-direction: column;
    }

    .label-input--div {
        width: 100%;
    }

    .book-input--div button {
        width: 100%;
    }

    footer {
        margin-top: 100%;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 30px 20px;
    }

    .footer-info {
        text-align: center;
    }

    .footer-info div {
        justify-content: center;
    }

    .footer-info p {
        margin: auto;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-pages,
    .footer-utility,
    .footer-follow {
        padding: 0;
        text-align: center;
    }

    .footer-pages a,
    .footer-utility a {
        text-align: center;
    }

    .footer-follow {
        display: none;
    }
}
