/* CONTACT */

.contact {
    margin-top: 120px;
    background-color: var(--color-white);
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.contact-title h1 {
    font-size: 5rem;
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--font-play);
}

.contact-title p {
    width: 100%;
    color: var(--color-gray);
}

.contact-input--div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px black;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.label-input--div {
    display: flex;
    flex-direction: column;
}

.label-input--div input {
    padding: 20px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    margin-top: 5px;
    font-size: 1rem;
}

.label-input--div textarea {
    border-radius: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    resize: none;
    height: 200px;
    font-size: 1rem;
    margin-top: 5px;
}

.label-input--div:has(#subject) {
    grid-column: span 2;
}

.label-input--div:has(#message) {
    grid-column: span 2;
}

.contact-btn {
    grid-column: span 2;
    padding: 20px;
    background-color: var(--color-red);
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    color: white;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.contact-info .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-bottom: -150px;
}

.container div h2 {
    width: 400px;
    padding-top: 10px;
    font-weight: 400;
}

.container div #number {
    color: var(--color-red);
    font-weight: bold;
}

@media (max-width: 850px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .contact-input--div {
        display: flex;
        flex-direction: column;
    }

    .label-input--div {
        width: 100%;
    }

    .contact-btn {
        width: 100%;
    }

    .contact-info {
        text-align: center;
    }
}
