/* FOOTER */

footer {
    background-color: var(--color-gray);
    color: white;
}

footer .container {
    display: flex;
    padding: 50px;
}

.footer-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-info h1 {
    font-family: var(--font-play);
    color: white;
    font-weight: 500;
    padding-left: 15px;
}

footer p {
    padding-top: 20px;
    width: 280px;
    color: var(--color-grayl);
}

.footer-social {
    display: flex;
    padding-top: 30px;
    gap: 10px;
}

footer .footer-pages {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-pages a:first-child {
    padding-top: 35px;
}

.footer-pages a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-pages a:hover {
    text-decoration: underline;
    color: white;
}

footer .footer-utility {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-utility a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-utility a:first-child {
    padding-top: 35px;
}

.footer-utility a:hover {
    text-decoration: underline;
    color: white;
}

.footer-follow-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    gap: 20px;
}

.final-section {
    background-color: var(--color-gray);
    color: var(--color-grayl);
    text-align: center;
    padding: 50px;
}

@media (max-width: 600px) {
    .footer-follow {
        display: none;
    }
}

@media (max-width: 500px) {
    footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 30px 20px;
    }

    .footer-info {
        text-align: center;
    }

    .footer-info div {
        justify-content: center;
    }

    .footer-info p {
        margin: auto;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-pages,
    .footer-utility,
    .footer-follow {
        padding: 0;
        text-align: center;
    }

    .footer-pages a,
    .footer-utility a {
        text-align: center;
    }

    .footer-follow {
        display: none;
    }
}
