/* HERO SECTION */

.hero-section {
    background-image: url(/assets/images/backgroundHero.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: clamp(3.5rem, 10vw, 5rem);
    max-width: 500px;
    width: 100%;
    font-family: var(--font-play);
    color: var(--color-black);
    font-weight: normal;
}

.hero-text p {
    width: 500px;
    padding-top: 15px;
    color: var(--color-gray);
    font-size: 1.1rem;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.hero-buttons a {
    margin: 10px;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

#hero-button1 {
    border: none;
    background-color: var(--color-red);
    color: white;
}

#hero-button2 {
    border: 1px solid;
    color: black;
}

/* BROWSE OUR MENU */

.browse-menu--section {
    padding-bottom: 40px;
}

.browse-menu--section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.browse-menu--section h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: var(--font-play);
    color: #2b2e25;
    font-weight: 500;
    font-size: 3em;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.258);
    border-radius: 10px;
}

.info-card img {
    padding-top: 30px;
}

.info-card h3 {
    padding-top: 10px;
}

.info-card p {
    padding: 10px;
    width: 200px;
}

.info-card a {
    padding: 10px;
    padding-bottom: 30px;
    text-decoration: none;
    color: var(--color-red);
    font-weight: bold;
}

/* FAMILY */

.family {
    background-color: #f9f9f7;
    padding: 60px 0;
}

.family .container {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.visit-us {
    position: absolute;
    bottom: -10px;
    left: 360px;
    text-wrap: nowrap;
    background-color: #3a3a3a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 320px;
}

.visit-us p {
    padding: 5px;
}

.visit-us #location {
    text-wrap: wrap;
}

.family-text {
    max-width: 500px;
    padding-left: 50px;
}

.family-text h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
    font-weight: bold;
}

.family-text h4 {
    padding: 20px 0;
    font-weight: normal;
}

.family-text p {
    color: var(--color-gray);
}

.family .nb-button {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 25px;
    border: 1px solid #000;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-weight: 500;
}

/* SERVICES */

.info-services--div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.services .container {
    display: grid;
}

.services .container h1 {
    font-size: 3rem;
    width: 600px;
    padding: 40px 0px 40px 0px;
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.info-services img {
    width: 250px;
}

.info-services h2 {
    padding-top: 15px;
}

.info-services p {
    width: 300px;
    padding-top: 14px;
}

/* FASTEST */

.delivery {
    margin: 40px 0;
    padding: 40px 0;
    background-color: #f9f9f7;
}

.delivery .container {
    display: flex;
    align-items: center;
}

.delivery-img--div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.delivery-img--div img:first-child {
    grid-row: span 2;
    width: 400px;
}

.delivery-topics {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 50px;
    gap: 15px;
}

.delivery-topics div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.delivery-text {
    padding-left: 70px;
}

.delivery-text h1 {
    font-size: 3.8em;
    width: 500px;
    padding-bottom: 10px;
    font-family: var(--font-play);
    font-weight: 500;
    color: var(--color-black);
}

.delivery-text p {
    width: 450px;
}

/* CUSTOMERS */

.customers .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 10vh;
}

.customers-title {
    text-align: center;
    font-size: 2.2em;
    padding: 50px 0;
}

.customers-title h1 {
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.customer-article {
    background-color: var(--color-white);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
}

.customer-article h2 {
    color: var(--color-red);
    padding: 30px;
}

.customer-article p {
    width: 400px;
    padding: 0px 30px 30px;
}

.customer-article hr {
    border: none;
    height: 1px;
    margin: 20px;
    background-color: #00000013;
}

.info-customer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.info-customer img {
    padding-right: 20px;
}

.info-customer span {
    font-weight: bold;
}

/* BLOG */

.blog {
    background-color: var(--color-white);
}

.blog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.blog-title h1 {
    font-family: var(--font-play);
    color: #2a2d24;
    font-weight: 500;
}

.blog-title h1 {
    font-size: 3rem;
}

.blog-title a {
    padding: 20px 30px;
    background-color: var(--color-red);
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.article-blog--div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.article-blog--div .main {
    grid-row: span 2;
}

.article-blog--div .main p {
    padding-bottom: 120px;
}

.info-blog--article {
    padding: 0px 20px 20px 20px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.info-blog--article h6 {
    padding: 20px 0;
    font-weight: normal;
    color: var(--color-gray);
}

.info-blog--article h2 {
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.info-blog--article p {
    color: var(--color-gray);
    padding-bottom: 30px;
}

@media (max-width: 850px) {
    .hero-section h1 {
        width: 90%;
    }

    .hero-section p {
        width: 90%;
        color: black;
    }

    .hero-section button {
        text-wrap: nowrap;
    }

    .browse-menu--section .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .browse-menu--section .container .info-card {
        width: 100%;
    }

    .family .container {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: grid;
        justify-items: center;
    }

    .container .info-services--div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .delivery .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .customers .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog .blog-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    .article-blog--div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .blog-article {
        display: inline-flex;
        flex-direction: column;
        border-radius: 8px;
        padding-bottom: 50px;
    }

    .blog-article img {
        max-width: 400px;
        max-height: 400px;
    }

    .blog-article.main .info-blog--article.main {
        display: block;
        height: 240px;
    }

    .info-blog--article {
        padding: 15px;
    }

    .info-blog--article h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    .hero-buttons a {
        text-wrap: nowrap;
    }

    .hamburguer-div {
        border-right: 30px solid transparent;
    }

    .browse-menu--section .container {
        display: flex;
        flex-direction: column;
    }

    .family .image-wrapper img {
        max-width: 350px;
        padding: 0;
    }

    .family .visit-us {
        display: none;
    }

    .services .container h1 {
        font-size: 3rem;
        width: 100%;
        text-wrap: wrap;
    }

    .container .info-services--div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
    }

    .delivery .container .delivery-img--div {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    .delivery img {
        max-width: 320px;
    }

    .delivery-text h1 {
        padding-top: 20px;
        font-size: 3em;
        width: 90%;
        padding-left: 4%;
    }

    .delivery-text p {
        font-size: 14px;
        text-wrap: balance;
        padding-left: 4%;
    }

    .delivery-topics {
        padding-left: 5%;
    }

    .blog-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .blog-title h1 {
        text-wrap: nowrap;
        font-size: 2.5rem;
        padding-bottom: 30px;
    }

    .blog-title a {
        text-wrap: nowrap;
    }

    .article-blog--div .blog-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog-article.main {
        text-align: start;
    }

    .blog-article img {
        max-width: 350px;
    }
}
