/* MENU */

.menu-foods {
    padding: 40px;
    margin-top: 120px;
}

.menu-foods h1 {
    font-size: 4.5rem;
    text-align: center;
    font-family: var(--font-play);
}

.menu-foods p {
    text-align: center;
    color: var(--color-gray);
    padding-bottom: 50px;
}

.menu-btn--div {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.menu-btn--div .menu-btn {
    padding: 10px;
    border-radius: 20px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.392);
    background: none;
    text-wrap: nowrap;
    margin-bottom: 60px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.menu-btn.active {
    background-color: var(--color-red);
    color: white;
}

.article-menu--div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
}

.article-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.234);
    border-radius: 30px;
}

.article-menu span {
    color: var(--color-red);
    padding-top: 20px;
    font-size: 1.9rem;
}

.article-menu h1 {
    font-size: 1.5rem;
    font-family: "rubik";
    font-weight: 500;
}

.article-menu p {
    padding: 10px 0 20px 0;
}

.article-menu a {
    cursor: pointer;
    width: 150px;
    align-self: center;
    text-wrap: nowrap;
    background-color: var(--color-red);
    color: white;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* APPS */

.apps {
    background-color: var(--color-white);
}

.apps .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apps .container h1 {
    font-size: 3rem;
    font-family: var(--font-play);
    width: 400px;
    padding-bottom: 30px;
}

.apps .container p {
    color: var(--color-gray);
    width: 300px;
}

/* FOOTER */

footer {
    background-color: var(--color-gray);
    color: white;
}

footer .container {
    display: flex;
    padding: 50px;
}

.footer-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-info h1 {
    font-family: var(--font-play);
    color: white;
    font-weight: 500;
    padding-left: 15px;
}

footer p {
    padding-top: 20px;
    width: 280px;
    color: var(--color-grayl);
}

.footer-social {
    display: flex;
    padding-top: 30px;
    gap: 10px;
}

footer .footer-pages {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-pages a:first-child {
    padding-top: 35px;
}

.footer-pages a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-pages a:hover {
    text-decoration: underline;
    color: white;
}

footer .footer-utility {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
}

.footer-utility a {
    text-decoration: none;
    color: var(--color-grayl);
    transition: all 0.3s ease;
}

.footer-utility a:first-child {
    padding-top: 35px;
}

.footer-utility a:hover {
    text-decoration: underline;
    color: white;
}

.footer-follow-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    gap: 20px;
}

.final-section {
    background-color: var(--color-gray);
    color: var(--color-grayl);
    text-align: center;
    padding: 50px;
}

@media (max-width: 850px) {
    header {
        top: 0;
    }

    .top-site {
        display: none;
    }

    .menu {
        position: fixed; /* fixa na tela */
        top: 80px;
        left: 0;
        width: 100vw;
        padding-top: 20px;
        height: 30%;
        display: grid;
        place-items: center;
        grid-auto-flow: row;
        row-gap: 15px;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 9999;
    }

    .menu.show {
        opacity: 1;
        visibility: visible;
    }

    .menu div .nb-button {
        display: block;
    }

    .container .nb-button {
        display: none;
    }

    .title-header {
        font-size: 0.7rem;
    }

    .hamburguer-div {
        display: block;
        cursor: pointer;
    }

    .hamburguer-div span {
        font-weight: bold;
    }

    header .container {
        display: flex;
        justify-content: space-around;
    }

    .article-menu--div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .apps .container {
        display: flex;
        flex-direction: column;
    }

    .apps-text {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .apps .container img {
        max-width: 100%;
    }

    .footer-follow {
        display: none;
    }
}

@media (max-width: 500px) {
    .menu-btn--div {
        overflow-x: auto;
        justify-content: flex-start;
    }

    .menu-btn {
        min-width: 100px;
    }

    .article-menu--div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 30px 20px;
    }

    .footer-info {
        text-align: center;
    }

    .footer-info div {
        justify-content: center;
    }

    .footer-info p {
        margin: auto;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-pages,
    .footer-utility,
    .footer-follow {
        padding: 0;
        text-align: center;
    }

    .footer-pages a,
    .footer-utility a {
        text-align: center;
    }

    .footer-follow {
        display: none;
    }
}
