/* BLOG */

.blog {
    margin-top: 120px;
    padding: 50px;
    background-color: var(--color-white);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.blog-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-text h1 {
    font-size: 3.8rem;
    text-align: center;
    font-family: var(--font-play);
}

.blog-text p {
    text-align: center;
    width: 100%;
    color: var(--color-gray);
}

.blog-article {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    margin: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.article-text {
    padding: 30px;
}

.article-text p {
    color: var(--color-gray);
}

.article-text h3 {
    padding-top: 10px;
}

#toast {
    display: none;
    min-width: 300px;
    width: 90%;
    max-height: 90%;
    overflow-y: scroll;
    background-color: #fff;
    color: #333;
    text-align: start;
    border-radius: 10px;
    padding: 16px 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

#toast .close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    border: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
}

#toast.show {
    display: block;
    animation: fadeIn 0.4s;
}

#toast-message {
    padding: 5%;
}

#toast-message h1 {
    font-family: var(--font-play);
    text-align: center;
    padding: 0px 0px 30px 0;
}

#toast-message div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.img-div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.img-div img {
    max-width: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -55%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 850px) {
    .blog .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .blog .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
