<footer>
    <div class="container">
        <div class="footer-info">
            <div>
                <img src="assets/images/icons/japanese-food-white.png" alt="" />
                <h1>Bistro Bliss</h1>
            </div>
            <p>
                In the new era of technology we look a in the future with
                certainty and pride to for our company and.
            </p>
            <div class="footer-social">
                <a href=""
                    ><img src="assets/images/icons/twitter-r.png" alt=""
                /></a>
                <a href=""
                    ><img src="assets/images/icons/facebook-r.png" alt=""
                /></a>
                <a href=""
                    ><img src="assets/images/icons/instagram-r.png" alt=""
                /></a>
                <a href=""
                    ><img src="assets/images/icons/github-r.png" alt=""
                /></a>
            </div>
        </div>

        <div class="footer-pages">
            Pages

            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Menu</a>
            <a href="">Pricing</a>
            <a href="">Blog</a>
            <a href="">Contact</a>
            <a href="">Delivery</a>
        </div>

        <div class="footer-utility">
            Utility Pages

            <a href="">Start Here</a>
            <a href="">Styleguide</a>
            <a href="">Password Protected</a>
            <a href="">404 Now Found</a>
            <a href="">Licenses</a>
            <a href="">Changelog</a>
            <a href="">View More</a>
        </div>

        <div class="footer-follow">
            Follow Us on instagram

            <div class="footer-follow-img">
                <img src="assets/images/egg.png" alt="" />
                <img src="assets/images/french-fries.png" alt="" />
                <img src="assets/images/salad.png" alt="" />
                <img src="assets/images/pancake.png" alt="" />
            </div>
        </div>
    </div>
</footer>

<section class="final-section">Developer By DarwinGAZ.</section>
